<h2 class="ui center aligned icon header">
  <i class="circular inverted orange fire icon"></i>
  Motive
</h2>

<div class="ui two column grid">
    <div class="four wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                <div class="center aligned header">
                    Friend's Online
                </div>
                <div class="center aligned description">
                    <div class="ui inverted vertical center aligned menu">
                    <% @users.each do |user| %>
                        <a class="item">
                            <%= user.username %>
                        </a>
                    <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="twelve wide column">
        <div class="ui fluid card chatbox">
            <div class="content" id="messages">
                <div class="ui feed" id="message-container">
                    <%= render  @messages %>
                </div>
            </div>
            <div class="extra content">
                <%= form_for(@message, html: { class: "ui reply form", role: "form" }, url: message_path, remote: true) do |f| %>
                    <div class="field">
                    <div class="ui fluid icon input">
                        <%= f.text_field :body %>
                            <%= f.button "Send" '<i class="arrow right icon edit"></i>'.html_safe , class: "ui orange labeled submit icon button", id: "submit-button" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
